@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

body {
    background: rgb(176,196,222);
    background: radial-gradient(circle, rgba(176,196,222,1) 0%, rgba(142,142,180,1) 100%);
    height: 100vh;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-weight: 100;
}

img {
    display: block;
    width: 45vw;
}

h1 {
    font-weight: 200;
    font-size: 2.5vw;
}

p {
    font-size: 1.5vw;
    text-align: center;
    margin:1vh 0;
}

a {
    margin-top: 10px;
    color: black;
    font-size: 1.5vw;
    text-decoration: none;
}

hr {
    width: 50%;

    border-top: 0.1vw solid black;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

@media (max-width: 700px) {
    img {
        width: 60vw;
    }

    hr {
        margin: 15px 0;
    }

    h1 {
        font-size: 3.5vw;
    }
    p, a {
        font-size: 3vw;
    }
}