<div class="navbar navbar-expand-lg navbar-light navbar-lewagon">
  <div class="container">
    <div class="navbar-brand">
      <img src="https://res.cloudinary.com/therainycloud/image/upload/v1599568004/Copy_of_BARCELONA_sxghul.png"/>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% for item in site.data.navbar %}
          <li class="nav-item">
            <a class="nav-link" href={{ item.link }}>{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
