@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  color: $black;
}

h1 {
  font-size: 60px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  font-size: 40px;
  font-weight: 500;
}

p {
  font-size: 18px;
  font-weight: 400;
}

.text-highlight {
  font-weight: 700;
  color: $pink;
}

.benefits {
  font-weight: 400;
  color: $gray;
}
