html { scroll-behavior: smooth; }

body { background: $background-gray; }

section { min-height: 70vh; }

.container { min-height: inherit; }

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: inherit;
  padding: 50px 0;
}


.link {
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;;
  color: $pink;

  &:hover {
    color: $black;
  }
}

@media (max-width: 1312px) {
  section { min-height: 50vh; }
}
