.contact { background: white; }

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.contact-title { margin-bottom: 40px; }

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-details {
  p {
    margin-bottom: 10px;
  }
}

#contact-number { letter-spacing: 1px; }

@media (max-width: 688px) {
  .contact-grid {
    grid-template-columns: 1fr;
  }

  .contact-info {
    margin-top: 30px;
  }
}