.hero { height: 70vh; }

.hero-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: none;
  align-items: center;
}

.hero-text {
  padding-left: 125px;
  width: 54vw;
  z-index: 2;
}

.hero-img {
  margin-left: -270px;
  z-index: 1;
}

#hero {
  font-size: 30px;
  font-weight: 400;
  margin: 10px 0;
  color:  $gray;
}