.one-click { background: white; }

.one-click-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  align-items: flex-start;
}

.one-click-content { 
  text-align: center; 

  p {
    margin-bottom: 10px;
  }
}

.one-click-title { 
  text-transform: uppercase; 
  margin-bottom: 40px;

  h2 { 
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 35px; 
  }
  
  #one-click-slogan {
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 4px;
  }
}

.one-click-price {
  margin-top: 40px;
  p {
    font-size: 22px;
    margin: 0;
  }
}

.one-click-img  { 
  width: 100%;
  margin: 50px 0 100px 0;
  img {
    width: 700px;
  }
}

.one-click-buttons { text-align: end; }

.one-click-text-lg {
  p { 
    font-size: 75px;
    font-weight: 700;
    margin: 0;
    line-height: 90px;
    letter-spacing: -2px;
    color: $light-pink;
  }
}

@media (max-width: 1312px) {

  input { width: 70%; }
}

@media (max-width: 992px) {
  .one-click-text-lg {
    p { font-size: 55px; }
  }

  .one-click-buttons { text-align: start; }

  input { width: 70%; }

  button { 
    width: fit-content; 
    margin-top: 15px;
  }
}

@media (max-width: 688px) {
  .one-click-grid {
    grid-template-columns: 1fr;
  }

  .one-click-text-lg {
    p { font-size: 50px; }
  }

  .one-click-img  { 
    img { width: 100%; }
  }

.one-click-buttons { 
  display: flex; 
  flex-direction: column;
 
  input { width: 70%; }

  button { 
    width: fit-content; 
    margin-top: 15px;
  }
}

}
