.orders {
  background: $background-gray;

  h2 {
    width: 30%;
    margin: 0;
  }
}

.orders-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.orders-text {
  position: relative;

  span {
    font-size: 160px;
    font-weight: 700;
    color: $light-pink;
  }

  p {
    position: absolute;
    top: 145px;
    left: 30px;
  }
}

@media (max-width: 992px) {
  .orders {
    h2 { width: 45%; }
  }
}

@media (max-width: 688px) {
  .orders-grid {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }

  .orders {
    h2 { width: 70%; }
  }
}
