.value { background: $background-gray; }

.value-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.value-grid-card {
  display: flex;
  align-items: center;
  height: 350px;
  width: 100%;
  background-repeat: no-repeat;
}

.value-text {
  button {
    margin-top: 10px;
  }
}

@media (max-width: 688px) { 
  .value-grid {
    grid-template-columns: 1fr;
  }

  #tech-photo { order: 1; }

  #tech { order: 2; }

  #price-photo { order: 3; }
  
  #price { order: 4; }
  
  #costumer-photo { order: 5; }
  
  #costumer { order: 6; }

}